@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.landing {
  background-size: cover;
  background: url('https://wallpaperaccess.com/full/150598.jpg') no-repeat fixed center center;
  background-size: 100% 100%;
  opacity: 0.85;
  height: 10000px;
  display: flex;
}

.ui.header.landing-text {
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: black;
  opacity: 1;
}

.ui.header.cp-text, .ui.black.button.cp-text, .ui.green.button.cp-text, .ui.button.cp-text, .ui.list.cp-text {
  font-family: 'Playfair Display', serif;
  color: #2d5144;
  padding: 10px;
}

.ui.list .list > .item a.header:hover, .ui.list > .item a.header {
  font-family: 'Playfair Display', serif;
}

.ui.buttons > .ui.button:not(.basic):not(.inverted), .ui.buttons:not(.basic):not(.inverted) > .button  {
  font-family: 'Playfair Display', serif;
}

.ui.cards > .card > .content > .header:not(.ui), .ui.card > .content > .header:not(.ui) {
  font-family: 'Playfair Display', serif;
  color: #2d5144;
}

.ui.menu .item {
  font-family: 'Playfair Display', serif;
  color: #2d5144;
}

.ui.container {
  padding: 40px 0px 100px;
}

.ui.selection.dropdown {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 1.21428571em;
  padding: 0.67857143em 1em;
  font-size: 1em;
  background: #FFFFFF;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
}

.ui.form .field > label {
  display: block;
  margin: 0 0 0.28571429rem 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.92857143em;
  font-weight: bold;
  text-transform: none;
  font-family: 'Playfair Display', serif;
}

.cp-text {
  font-family: 'Playfair Display', serif;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .ui.container {
    width: 1300px;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: rgb(255,255,255,0.8);
  }
}

.ui.icon.message > .icon:not(.close) {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  line-height: 1;
  vertical-align: middle;
  font-size: 3em;
  opacity: 0.8;
  color: #2d5144;
}

.ui.message .header:not(.ui) {
  font-size: 1.14285714em;
  font-family: 'Playfair Display', serif;
  color: #2d5144;
}

.ui.message {
  font-size: 1em;
  font-family: 'Playfair Display', serif;
}

.ui.grid {
  padding-bottom: 20px;
  font-family: 'Playfair Display', serif;
  color: #2d5144;
}
